{:aliases {:build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.5" :git/sha "2a21b7a"}
                          slipset/deps-deploy {:mvn/version "0.2.2"}}
                   :ns-default build}
           :clj-nvd {:extra-deps {clj-nvd/clj-nvd {:git/url "https://github.com/miikka/clj-nvd.git"
                                                   :sha "f2ec98699e057a379baf170cb49cf7ad76874a70"}}
                     :main-opts ["-m" "clj-nvd.core"]}
           :dev {:extra-deps {djblue/portal {:mvn/version "0.57.3"}}
                 :extra-paths ["dev"]}
           :neil {:project {:name com.github.jackdbd/pod.jackdbd.jsoup
                            :version "0.2.5-SNAPSHOT"}}
           :test {:extra-deps {babashka/babashka.pods {:mvn/version "0.2.0"}
                               io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd" :git/url "https://github.com/cognitect-labs/test-runner"}}
                  :extra-paths ["test"]
                  :exec-fn cognitect.test-runner.api/test
                  :main-opts ["-m" "cognitect.test-runner"]}}

 ; keep jsoup at version 1.14.3 due to graal incompatibility? (see hickory's deps.edn)
 :deps  {nrepl/bencode {:mvn/version "1.2.0"}
         org.babashka/http-client {:mvn/version "0.4.21"}
         org.clojure/clojure {:mvn/version "1.12.0"}
         org.jsoup/jsoup {:mvn/version "1.14.3"}}

 :paths ["src"]}
